body {
    padding-top: 75px;
}

.professeur {
    display: none;
}
.marginTop{
    margin-top: 1em;
}
.ajoutClassCon{
    margin-left: 12em;
}

#footer{
    position: static;
    bottom: 0px;
}

.comebackHome{
    margin-top: 2em;
    font-size: 2em;
    color: #004C84;
    font-weight: bold;
}
.linkInscription{
    font-size: 1.1em;
    display: inline-block;
    margin-top: 2em;
    margin-left: 5em;
    padding-bottom: 0.5em;
}
.logoInheader img{
    width: 60%;
    padding-left: 4em;
}
.titreAbs{
    margin-bottom: 1.5em;
}
.listClass{
    display: inline-block;
    margin-bottom: 1em;
}
.addClassLink{
    display: inline-block;
    padding: 10px 0 15px 0;
    font-size: 1.3em;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
    position: relative;
    margin-left: 12em;
}
.addClassLink:hover{
    text-decoration: none;
}
.marginButtomButton{
    margin-bottom: 2em;
}

.colorTobutton{
    background-color:#004C84;
    color: white;
}
.colorTobutton:hover{
    text-decoration: none;
    opacity: 0.9;
    color: white;
}
.colorTobutton1{
    color: #fff;
    background-color: #581c87;
}
.marquerAbsence{
    margin-top: 5em;
}

.searchIcon{
    display: inline;
    position: relative;
    float: right;
    bottom: 2.4em;
    left: 3em;
    border: none;
    border-radius: 2px;
    background-color: #581c87;
    color: #fff;
    padding: 0.4em 0.6em;
}
.searchIcon:hover{
    opacity: 0.8;
}